<aside id="aside">
  <nav id="aside-nav">
    <ul>
      <li><a href="" id="design-link" class="aside-nav-link">Design Resources</a></li>
      <li><a href="" class="aside-nav-link">Books</a></li>
      <li><a href="" class="aside-nav-link">YT Channels</a></li>
      <li><a href="" class="aside-nav-link">Podcasts</a></li>
      <li><a href="" class="aside-nav-link">JavaScript</a></li>
      <li><a href="" class="aside-nav-link">Books</a></li>
      <li><a href="" class="aside-nav-link">YT Channels</a></li>
      <li><a href="" class="aside-nav-link">Podcasts</a></li>
      <li><a href="" class="aside-nav-link">JavaScript</a></li>
      <li><a href="" class="aside-nav-link">Books</a></li>
      <li><a href="" class="aside-nav-link">YT Channels</a></li>
      <li><a href="" class="aside-nav-link">Podcasts</a></li>
      <li><a href="" class="aside-nav-link">JavaScript</a></li>
      <li><a href="" class="aside-nav-link">Books</a></li>
      <li><a href="" class="aside-nav-link">YT Channels</a></li>
      <li><a href="" class="aside-nav-link">Podcasts</a></li>
      <li><a href="" class="aside-nav-link">JavaScript</a></li>
      <li><a href="" class="aside-nav-link">YT Channels</a></li>
      <li><a href="" class="aside-nav-link">Podcasts</a></li>
      <li><a href="" class="aside-nav-link">JavaScript</a></li>
    </ul>
  </nav>
</aside>