<header>
  <nav id="top-navbar">
    <a href="/" id="brand-name">epistemy.dev</a>
    <span id="subtitle" class="mobile-hidden">Free Software Development Resources!</span>
    <button id="suggest-btn" class="mobile-hidden">Suggest Resource</button>
  </nav>
</header>