<header>
  <nav id="top-navbar">
    <a href="/" id="brand-name">epistemy dev</a>
    <span id="subtitle">Free Software Development Resources!</span>
    <button id="suggest-btn">Suggest Resource</button>
  </nav>
</header>