<li class="resource">
    <a href="{{ resource.url }}">
      <div class="resource-img">
        <img src="{{ resource.data.img }}" alt="{{ resouce.data.name }}" class="img-fluid">
      </div>
      <span class="resource-name">{{ resource.data.name }}</span>
      <p class="resource-description">
        {{ resource.data.description }}
      </p>
    </a>
</li>