/* ==============================
          C O N T E N T S

    1. Variables & Reset
    2. Helper Classes
    3. Navbar
    4. Aside Navbar
    6. Homepage
    x. Footer
    x. Responsive
    
   ============================== */

/* ------------------------------
      1. Variables & Reset
   ------------------------------ */
html {
  font-size: 100%;
  box-sizing: border-box;

  /* ---- Variables ---- */
  --font-base: 1rem;
  --grayish-blue: #221644;
  --deep-grayish-blue: #0a141e;
  --blue-purple-gradient: linear-gradient(
    269.13deg,
    #43bbff 0.51%,
    #7520ff 99.73%
  );
  --blue-purple-gradient-hover: linear-gradient(
    269.13deg,
    #4790ff 0.51%,
    #7118ff 99.73%
  );
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--font-base);
  font-weight: 300;
  background: var(--deep-grayish-blue);
  color: #ccc;
  line-height: 1.3;
  overflow-x: hidden;
}

/* ---- Text ---- */
h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.15;
  color: #eee;
  margin-top: 0px;
  font-family: "Ubuntu", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: unset;
}

main {
  padding: 1.25rem 2rem;
}

/* ------------------------------
      2. Helper classes
   ------------------------------ */
/* ---- Flexbox ---- */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: between;
}

.items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* ---- Grid ---- */
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 2rem;
}

/* ---- Resources ---- */
.resource {
  transition: all ease 350ms;
  display: block;
}

.resource > a {
  transition: all ease 350ms;
  display: block;
  border-radius: 0.5rem;
}

.resource img:hover {
  box-shadow: 0 0 1rem 0.25rem rgba(256, 256, 256, 0.2);
}

.resource-img {
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
}

.resource-name {
  font-weight: 600;
  color: #eee;
  font-size: 1.125em;
  margin-top: 0.6rem;
  margin-bottom: 0.1rem;
  display: block;
}

.resource-description {
  font-size: 0.875em;
}

/* ---- Misc ---- */
.mobile-hidden {
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.section-title {
  font-size: 1.75em;
  background: var(--blue-purple-gradient);
  background-clip: var(--blue-purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

#page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* ------------------------------
      3. Navbar
   ------------------------------ */
header {
  position: sticky;
  top: 0;
  z-index: 2;
}

#top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  border-bottom: 1.6px solid var(--grayish-blue);
  background: var(--deep-grayish-blue);
}

#brand-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  background: var(--blue-purple-gradient);
  background-clip: var(--blue-purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#subtitle {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125em;
  color: #eee;
}

#suggest-btn {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: var(--blue-purple-gradient);
  font-weight: 600;
  color: #eee;
  cursor: pointer;
  transition: all ease-in-out 400ms;
}

#suggest-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px 2px rgba(256, 256, 256, 0.2);
}

/* ------------------------------
      4. Aside Navbar
   ------------------------------ */
#aside {
  position: sticky;
  top: 56.5px;
  height: min-content;
}

#aside-nav ul {
  left: 0;
  width: max-content;
  list-style: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.1em;
  border-right: 1.6px solid var(--grayish-blue);
  height: calc(100vh - 56.5px);
  overflow-y: scroll;
  top: 0;
}

.aside-nav-link {
  display: block;
  width: max-content;
  padding: 0.38rem 0;
  transition: all ease-in-out 250ms;
}

#design-link {
  background: var(--blue-purple-gradient);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  color: #eee;
  margin-bottom: 0.5rem;
}

.aside-nav-link:hover {
  background: var(--blue-purple-gradient);
  background-clip: var(--blue-purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(0.3rem);
}

#design-link:hover {
  background-clip: #eee !important;
  -webkit-text-fill-color: #eee !important;
  transform: translateX(0.3rem);
  color: #eee !important;
}

::-webkit-scrollbar {
  width: 0.42rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 0.5rem;
}

/* ------------------------------
      5. Homepage
   ------------------------------ */
#salute {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0.5rem;
  color: #fff;
  letter-spacing: 2%;
}

#sub-salute {
  margin-bottom: 2.5rem;
  font-weight: 400;
  color: #e1e1e1;
  font-size: 1.25em;
}

/* ------------------------------
      x. Footer
   ------------------------------ */
footer {
  text-align: center;
  padding-top: 1rem;
  border-top: 1.6px solid var(--grayish-blue);
  background: var(--deep-grayish-blue);
}

#author {
  font-weight: 500;
  color: #7118ff !important;
  text-decoration: underline;
}

/* ------------------------------
      x. Responsive
   ------------------------------ */
@media (max-width: 768px) {
  /* ---- Helper classes ---- */
  .mobile-hidden {
    display: none;
  }

  .responsive-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.125rem;
  }

  main {
    padding: 0.75rem 1rem;
  }

  /* ---- Home page ---- */
  #salute {
    font-size: 1.8em;
  }

  #sub-salute {
    font-size: 1em;
  }

  /* ---- Navbar ---- */
  #top-navbar {
    padding: 0.75rem;
  }

  #brand-name {
    font-size: 1.25em;
  }
}
