---
layout: 'base.njk'
title: empistemy dev - Free Software Development Resources
---

<h1 id="salute">150 free software development resources</h1>
<h2 id="sub-salute">Carefully selected bookmark links for your learning and daily use!</h2>

<section>
<h3 class="section-title">Best</h3>
<ul class="responsive-grid">
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
  <li class="resource">
    <a href="">
      <div class="resource-img">
        <img src="https://www.evernote.design/assets/images/openui.jpg" alt="" class="img-fluid">
      </div>
      <span class="resource-name">Open Art</span>
      <p class="resource-description">
        Meet Open Art, free NFTs UI Kit for Figma. Its library contains more than 50+ components supporting Lig
      </p>
    </a>
  </li>
</ul>
</section>
